mixin news(data)
	- const isInset = attributes.class === 'news_inset';

	.news(class= attributes.class)
		.news__img-wrap
			.news__img(
				style=`background-image: url(${data.img})`
				role='img'
				aria-label= data.title
				title= data.title
			)

		.news__content
			.title.title_weight_bold.mb-2rem(class= isInset ? 'title_size_md title_invert': 'title_upper_none')= data.title

			.news__desc.text.mb-2rem(class= isInset ? 'text_size_lg text_invert': null)= data.desc

			.text.text_size_lg(class= isInset ? 'text_invert': null)
				a(href='#')
					strong Читать статью