include ../components/logo
include ../components/social
include ../components/input-search
include ../mixins/offer
include ../mixins/card
include ../mixins/banner
include ../mixins/news
include ../mixins/icon
include ../mixins/text-icon
include ../mixins/check

.mb-15

.container
	.mb-3rem
		.mb-15
			.text
				p= '.text Lorem ipsum dolor sit amet, '
					a(href='#') consectetur adipisicing elit
					| . Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?
				p Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?

		.mb-15
			.text.text_size_sm
				p= '.text.text_size_sm Lorem ipsum dolor sit amet, '
					a(href='#') consectetur adipisicing elit
					| . Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?
				p Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?

		.mb-15
			.text.text_size_lg
				p= '.text.text_size_lg Lorem ipsum dolor sit amet, '
					a(href='#') consectetur adipisicing elit
					| . Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?
				p Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?

		.mb-15
			.invert
				.text.text_invert
					p= '.text.text_invert Lorem ipsum dolor sit amet, '
						a(href='#') consectetur adipisicing elit
						| . Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?
					p Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?

	.mb-3rem
		.mb-15
			a.link(href='#') .link
		.mb-15
			.invert
				a.link.link_invert(href='#') .link.link_invert
		.mb-15
			a.link.link_line_none(href='#') .link.link_line_none
		.mb-15
			a.link.link_advanced(href='#') .link.link_advanced
		.mb-15
			.invert
				a.link.link_invert.link_advanced(href='#') .link.link_invert.link_advanced

	.mb-3rem
		.mb-15
			.title .title
		.mb-15
			.title.title_size_sm .title.title_size_sm
		.mb-15
			.title.title_size_md .title.title_size_md
		.mb-15
			.title.title_size_lg .title.title_size_lg
		.mb-15
			.title.title_size_xl .title.title_size_xl
		.mb-15
			.title.title_size_xxl .title.title_size_xxl
		.mb-15
			.title.title_upper_none .title.title_upper_none
		.mb-15
			.title.title_weight_thin .title.title_weight_thin
		.mb-15
			.title.title_weight_light .title.title_weight_light
		.mb-15
			.title.title_weight_bold .title.title_weight_bold
		.mb-15
			.invert
				.title.title_invert .title.title_invert

	.mb-3rem
		.row
			.col-sm-6
				include ../components/list-address

	.mb-3rem
		.mb-15
			.btn .btn
		.mb-15
			a.btn(href='#') a.btn
		.mb-15
			input.btn(type='button' value='input.btn')
		.mb-15
			button.btn button.btn
		.mb-15
			a.btn.btn_primary(href='#') a.btn.btn_primary
		.mb-15
			.invert
				a.btn.btn_invert(href='#') a.btn.btn_invert
		.mb-15
			.invert
				a.btn.btn_primary.btn_invert(href='#') a.btn.btn_primary.btn_invert
		.mb-15
			.btn.btn_wide .btn.btn_wide
		.mb-15
			button.btn.btn_disabled(disabled) button.btn.btn_disabled or [disabled]

	.mb-3rem
		.row.mb-15
			.col-sm-6.col-md-3
				input.input(type='text' placeholder='.input')
		.row.mb-15
			.col-sm-6.col-md-3
				.invert
					input.input.input_invert(type='text' placeholder='.input.input_invert')
		.row.mb-15
			.col-sm-6.col-md-3
				textarea.input(placeholder='textarea.input')

	.mb-3rem
		.row.mb-15
			.col-sm-6.col-md-3
				+input-search

	.mb-3rem
		.mb-15
			+check({
				id: 'test-1',
				text: '.check'
			})
		.mb-15
			.invert
				+check({
					id: 'test-2',
					text: '.check.check_invert'
				})(class='check_invert')

	.mb-3rem
		.row
			.col-2
				+icon({icon: 'map'})
			.col-2
				.invert
					+icon({icon: 'map'})(class='icon_invert')

	.mb-3rem
		.mb-15
			+text-icon({
				icon: 'star'
			})
		.mb-15
			+text-icon({
				text: '.text-icon',
				icon: 'star'
			})
		.mb-15
			+text-icon({text: '.text-icon without icon'})

	.mb-3rem
		.row
			.col-md-6
				+logo
			.col-md-6
				.invert
					+logo(invert=true)

	.mb-3rem
		.mb-5rem
			+offer(offer[0])
		.mb-5rem
			.invert
				+offer(offer[1])

	.mb-3rem
		+banner(banner[0])

	.mb-3rem
		.row
			.col-sm-6.col-md-3.mb-15
				+card(card[0])

	.mb-3rem
		.mb-15
			include ../components/slider

	.mb-3rem
		.mb-15
			include ../components/slider-single

	.mb-3rem
		.mb-15
			+social(social)
		.mb-15
			.invert
				+social(social)(class='social_inverse')

	.mb-3rem
		.row
			.col-lg-6.mb-15
				+news(news[0])(class='news_inset')
			.col-sm-6.col-lg-3.mb-15
				+news(news[1])